*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 700;
}

body{
    background-image: url(../../Asset/image.jpg);
    background-size:cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
   
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.registercontainer{
    width:57%;
    box-shadow:  0 0 3px 0 rgba(0,0,0,0.3);
    background: #ffffff;
    padding:20px;
    margin: 170px auto;
    text-align: center;
   
 }
.registercontainer1{
    width:35%;
    box-shadow:  0 0 3px 0 rgba(0,0,0,0.3);
    background: #ffffff;
    padding:20px;
    margin: 170px auto;
    text-align: center;
   
 }
 
 .registercontainer h1{
     color: #1c8adb;
     margin-bottom: 30px;
 }
 


.registercontainer h1{
    color: #1c8adb;
    margin-bottom: 30px;
}

.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 1px 0;
    width:100%;
    outline: none;
    border: 1px solid #999;
}
 .input-box:focus{
    box-shadow: 0 0 0 5px #1c8adb;
    transition: all 200ms ease-out;
 }
 .input-box:hover{
    box-shadow: 0 0 0 5px #1c8adb;
    transition: all 200ms ease-out;
 }
.button{
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
background-color: #1c8adb;
}
.button:hover{
    background-color: #888aff;
    transition: all 200ms ease-out;
}
img{
    width: 70px;
    margin-top: -50px;
}
